body {
  background: rgb(40, 190, 230);
  color:white;
  font-size: 20px;
  font-weight: normal ;
  text-align: justify;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

header {
  margin: 0;
}

.navbar {
  display: block;
  background: rgb(30, 130, 160);
  padding:0px;
  ul {
    list-style-type: none;
    margin: 0px;
    display: inline-block;
    li {
      margin-left: auto;
      margin-right: auto;
      float: left;
      a{
        color:white;
        text-decoration: none;
        text-align: center;
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
      }
      a:hover{
        background: rgb(30, 75, 150);
      }
      a:active{
        background: rgb(30, 130, 160);
      }
    }
  }
  
}


main{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

input, textarea {
  width: 100%;
  margin-right: 10px;
}

.evento {
  background: white;
  color: rgb(30, 130, 160);
  border: 3px dotted rgb(30, 130, 160);
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 5px;
  h1{
    width: 300px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
  }
}

.social-row{
  list-style-type: none;
  display: inline-flex;
  a{
    color: white;
    text-decoration: none;
  }
}