body {
  background: rgb(40, 190, 230);
  color:white;
  font-size: 20px;
  font-weight: normal ;
  text-align: justify;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
input, textarea {
  width: 100%;
  margin-right: 10px;
}

nav {
  color:white;
  
  ul {
    background: rgb(30, 130, 160);
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    li {
    display: inline-block;
    }
  }
  
}